*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    display: block;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    line-height: 1.6;
    background:#f3f3f3;
    cursor: default;
}

html, body{
    margin: 0;
    height: auto;
    width: 100%;
    font-size: 100%;
}

h1 {
    font-size: 2.125em;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

header {
    background-color: #f3f3f3;
    display: block;
}

div {
    display: block;
}

div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, 
form, p, .gform_heading span, 
.validation_error, .validation_message, 
blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

div, dl, ul, li, ol, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    direction: ltr;
}

ul, menu, dir{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

article, aside, figure, footer, header, main, nav, section, summary{
    display: block;
}

ul, ol {
    margin-left: 0;
}

ul, ol, dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol li ul,
ol li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
}

section.main-content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 72.875em;
    padding: 30px 0 0;
    overflow: hidden;
}

a {
    color: #f3f3f3;
    text-decoration: none;
    line-height: inherit;
}

a:hover,
a:focus {
    color: #f3f3f3;
}

a img {
    border: none;
}

img {
    display: inline-block;
    vertical-align: middle;
}

img, object {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    header {
        padding: 0 15px;
    }
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 30px;
    display: block;
}

.menu.active{
    display: inline-grid;
}

@media only screen and (min-width: 768px) {
    .toggle{
        display: none;
    }
}

.header {
    padding: 0px 0px 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60.875em;
    text-align: center;
}

.header:before,
.header:after {
    content: " ";
    display: table;
}

.header:after {
    clear: both;
}

.menu {
    padding: 0;
    *zoom: 1;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    display: none;
    justify-content: center;
    line-height: 2
}

@media only screen and (min-width: 768px){
    .menu{
        display: inline-flex !important;
    }
}

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu>li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
}

.menu>li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
}

.menu>li:nth-of-type(n) {
    clear: none;
}

.menu>li:nth-of-type(3n+1) {
    clear: both;
}

@media only screen and (min-width: 768px) {
    .menu {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .menu {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1230px) {
    .menu {
        margin-top: 30px;
    }
}

.menu>li {
    padding-bottom: 0;
}

.menu>li>a {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
    display: flex;
    color: #525252;
    border: 3px solid #f3f3f3;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

@media only screen and (min-width: 768px) {
    .menu>li>a {
        font-size: 20px;
        display: inline-block;
    }

    .menu>li>a.active {
        color: #111;
    }

    .menu>li>a:hover {
        border: 3px solid #333333;
        color: #3a3a3a;
    }

    .drop-down-items a{
        display: inline-flex !important;
    }
}

@media only screen and (min-width: 1024px) {
    .menu>li>a {
        font-size: 28px;
    }
}

.drop-down{
    padding-inline-start: 0;
    margin: 0;
}

.drop-down-items {
    display: none;
}

.menu-item-2667 {
    width: auto !important;
}

.menu .menu-item-2667:hover .drop-down .drop-down-items{
    display: block;
    padding: 0;
    width: auto;
}

.drop-down-items a {
    font-family: "Tungsten A", "Tungsten B";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    display: flex;
    color: #525252;
    border: 3px solid #f3f3f3;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin: 0px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.menu>li>ul>li>a:hover {
    color: #181818;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (min-width: 768px){
    main{
        padding: 0 15px;
        background: #f3f3f3;
    }
}

.p-header {
    position: relative;
    background-repeat: no-repeat;
    background-size: 145% auto;
    width: 100%;
    overflow: hidden;
    font-size: 6px;
    background-image: url("../../images/img267.png");
    background-position: 50% -1.868px !important;

}

@media only screen and (min-width: 768px){
    .p-header{
        background-size: 115% auto !important;
        background-position: 50% 0.132px !important;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px){
    .p-header{
        background-size: 100% auto !important;
        background-position: 50% 0.132px !important;
        font-size: 20px;
    }
}

.header-overlay {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6% 0;
}

@media only screen and (min-width: 768px){
    .header-overlay{
        padding: 6% 0;
    }
}

.header-center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 76.875em;
}

.header-center h1{
    font-size: 6em;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 2px;
}

.main-info .table-info{
    overflow-x: auto;
    overflow-y: hidden;
    clear: both;
}

.main-info .table-info:not(:last-child){
    margin-bottom: 35px;
}

@media only screen and (min-width: 768px){
    .header-center h1{
        font-size: 5em !important;
        letter-spacing: 10px;
    }
}

@media only screen and (min-width: 548px){
    .header-center h1{
        font-size: 4em;
        letter-spacing: 10px;
    }
}

table {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: "sutro", serif;
    font-weight: normal;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

@media (min-width: 768px){
    table{
        font-size: 17px;
        font-size: 1.7rem;
    }

    table caption{
        font-size: 1.6rem !important;
        text-align: left !important;
    }
}

table caption{
    font-size: 13px;
    font-size: 1.0rem;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2f6e87;
    margin: 0;
    text-align: center;
    padding: 30px 0;
}

.buttn h3{
    font-size: 13px;
    font-size: 1.1rem;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2f6e87;
    margin: 0;
    text-align: left;
    padding: 30px 0;
    border-bottom: 1px solid #1a1a1a;
}

table thead th{
    font-size: 13px;
    font-size: 1.3rem;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    vertical-align: top;
    padding: 30px 0;
}

table tr{
    border-top: 1px solid #cfd0d1;
}

table tbody th{
    font-weight: normal;
    
}

table tbody th,
table tbody td{
    padding: 20px 0;
    text-align: left;
    vertical-align: top;
    color: #5f6871;
    font-size: 1.3rem;
}

.table-info table tbody tr br{
    display: block;
    font-size: 60%;
    content: " ";
    margin-top: 20px;
}

.table-info table th{
    white-space: nowrap;
}

.table-info table th,
.table-info table td{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center !important;
}

.table-info table thead th{
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: normal;
    color: #1d2431;
    text-transform: none;
    font-weight: 600;
    line-height: 1;
    border-top: 1px solid #1d2431;
}


.table-info .table-body1{
    font-size: 1.0rem !important;
}

.table-info .table-body{
    font-size: 0.70rem !important;
}

.table-info .table-head{
    font-size: 1.2rem !important;
}

.table-info .table-head1{
    font-size: 0.76rem !important;
}

@media (min-width: 768px){
    .table-info table thead th{
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 1.4rem;
    }

    .table-info .table-body,
    .table-info .table-body1{
        font-size: 1.3rem !important;
    }

    .table-info .table-head,
    .table-info .table-head1{
        font-size: 1.4rem !important;
    }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);


.buttn{
    width: auto;
    height:auto;
    margin: 0 auto;
    display: block;
    padding: 0 0 40px 0;
}

.button{
    width: auto;
    height: auto;
    display: inline-flex;
    padding-top: 25px;
}

.contact-button{
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato" ,sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: .1em;
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    border-radius: 4px;
    padding: 20px 60px 20px 55px;
    transition: 0.3s ease-in-out;
}

.contact-button:hover{
    transition: 0.3s ease-in-out;
    border: 2px solid #1a1a1a;
    background-color: #f3f3f3;
    color: #1a1a1a;
}

.header-center:before,
.header-center:after{
    content: " ";
    display: table;
}

.header:after{
    clear: both;
}

.table-info::after{
    clear: both;
    content: " ";
    display: table;
}

[data-clearing] {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
}

[data-clearing] li {
    float: left;
    margin-right: 10px;
}

[data-clearing]:before,
[data-clearing]:after {
    content: " ";
    display: table;
}

[data-clearing]:after {
    clear: both;
}

.footer-basic-centered{
    background-color: #1a1a1a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font: normal 14px sans-serif;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
    font-weight: 400;
	color:  #ffffff;
	padding: 20px 0 40px;
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
    color: inherit;
    width: 5em;
}

@media (max-width: 600px) {
    .footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}