*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    display: block;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    display: block;
    cursor: default;
    overflow: hidden;
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 100%;
}

header {
    background-color: #ffffff;
    display: block;
}

a {
    color: red;
    text-decoration: none;
    line-height: inherit;
}

a:hover,
a:focus {
    color: #e60000;
}

a img {
    border: none;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.hide {
    display: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

p.lead,
.gform_heading span.lead,
.lead.validation_error,
.lead.validation_message {
    font-size: 1.21875em;
    line-height: 1.6;
}

.subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 2.125em;
    color: #fff;
    text-shadow: 2px 2px 8px #131313;
}

h2 {
    font-size: 1.6875em;
}

h3 {
    font-size: 1.375em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

hr {
    border: solid #ddd;
    border-width: 3px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}

ul,
ol,
dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}

ul,
ol {
    margin-left: 0;
}

ul li ul,
ul li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
    font-size: 1em;
}

ul.square li ul,
ul.circle li ul,
ul.disc li ul,
.widgets .widget-area>aside>ul li ul {
    list-style: inherit;
}

ul.square {
    list-style-type: square;
}

ul.circle {
    list-style-type: circle;
}

ul.disc,
.widgets .widget-area>aside>ul {
    list-style-type: disc;
}

ul.no-bullet {
    list-style: none;
}

ol li ul,
ol li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
}

dl dt {
    margin-bottom: 0.3em;
    font-weight: bold;
}

dl dd {
    margin-bottom: 0.75em;
}

@media only screen and (min-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.4;
    }
    h1 {
        font-size: 2.75em;
    }
    h2 {
        font-size: 2.3125em;
    }
    h3 {
        font-size: 1.6875em;
    }
    h4 {
        font-size: 1.4375em;
    }
}

@media only screen and (min-width: 768px) {
    header {
        padding: 0 15px;
    }
}

.header {
    padding: 0px 0px 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60.875em;
}

.header:before,
.header:after {
    content: " ";
    display: table;
}

.header:after {
    clear: both;
}

.header>.nav-a {
    display: none;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    margin: auto;
    width: 100%;
    float: left;
}

.header>.nav-b {
    display: none;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    margin: auto;
    width: 100%;
    float: right;
}

@media (min-width: 768px){
    .header>.nav-a {
        display: block;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        width: 50%;
        right: auto;
        left: auto;
        float: left;
    }
    .header>.nav-b{
        display: block;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        width: 50%;
        right: auto;
        left: auto;
        float: right;
    }
}

.menu {
    display: block;
    padding: 0;
    
    *zoom: 1;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu>li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
}

.menu>li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
}

.menu>li:nth-of-type(n) {
    clear: none;
}

.menu>li:nth-of-type(3n+1) {
    clear: both;
}

@media only screen and (min-width: 768px) {
    .menu {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .menu {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1230px) {
    .menu {
        margin-top: 30px;
    }
}

.menu>li {
    padding-bottom: 0;
}

.menu>li>a {
    font-family: "Tungsten A", "Tungsten B";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
    display: inline-block;
    color: #525252;
    border: 3px solid #fff;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

@media only screen and (min-width: 768px) {
    .menu>li>a {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .menu>li>a {
        font-size: 28px;
    }
}

@media only screen and (min-width: 1230px) {
    .menu>li>a {
        font-size: 30px;
    }
}

.menu>li>a.active {
    color: #111;
}

.menu>li>a:hover {
    border: 3px solid rgb(0, 0, 0);
    color: #181818;
}


div, dl, dt, dd, ul, ol, li, h1, h2, h3, 
h4, h5, h6, pre, form, p, .gform_heading span, 
.validation_error, .validation_message, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

div {
    display: block;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    width: auto;
    height:100%;
    animation: slide 40s infinite;
  }

@keyframes slide {
    0% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img7.jpg");
    }

    20% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img7.jpg");
    }

    20.01% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img12.jpg")
    }

    40% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img12.jpg")
    }

    40.01% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img8.jpg")
    }

    60% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img8.jpg")
    }

    60.01% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img10.jpg")
    }

    80% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img10.jpg")
    }

    80.01% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img9.JPG")
    }

    100% {
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1)),url("../images/img9.JPG")
    }
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 40px;
}

header.masthead h1 {
  font-size: 2rem;
  
}

header.masthead p {
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px 3px rgb(24, 24, 24);
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: -40px;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: rgb(84, 72, 255);
  border-color: rgb(84,72,255);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: rgb(72, 99, 255) !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-basic-centered{
    background-color: #1a1a1a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font: normal 14px sans-serif;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
    font-weight: 400;
	color:  #ffffff;
	padding: 20px 0 40px;
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
    color: inherit;
    width: 5em;
}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}